---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col pb-5 text-center">
    <div class="grid grid-cols-2 gap-2 pb-5 w-fit mx-auto">
        <h3 class="col-span-2">
            <Icon name="clock" class="w8 inline mr-2"></Icon>
            Opening Hours
        </h3>
        <div>Monday</div>
        <div>10:00-20:00</div>
        <div>Tuesday</div>
        <div>10:00-20:00</div>
        <div>Wednesday</div>
        <div>10:00-20:00</div>
        <div>Thursday</div>
        <div>10:00-20:00</div>
        <div>Friday</div>
        <div>10:00-20:00</div>
        <div>Saturday</div>
        <div>09:00-18:00</div>
        <div>Sunday</div>
        <div>10:00-16:00</div>

    </div>
    <div>
        <Icon name="location-dot" class="w8 inline mr-3"></Icon>
        20C Miller Rd, Bedford MK42 9NZ
    </div>
    <div>
        <Icon name="earth-europe" class="w8 inline mr-2"></Icon>
        https://bedfordbarber.co.uk
    </div>
    <div>
        <Icon name="phone" class="w8 inline mr-2"></Icon>
        07429153339

    </div>
</div>