---
import { Icon } from "astro-icon/components";
---

<div class="">
    <div class="grid grid-cols-2 gap-2 py-5 w-fit mx-auto">
        <h3 class="col-span-2">
            <Icon name="clock" class="w8 inline mr-2"></Icon>
            Opening Hours
        </h3>
        <div>Monday</div>
        <div>9AM-5PM</div>
        <div>Tuesday</div>
        <div>9AM-5PM</div>
        <div>Wednesday</div>
        <div>9AM-5PM</div>
        <div>Thursday</div>
        <div>9AM-5PM</div>
        <div>Friday</div>
        <div>9AM-5PM</div>
        <div>Saturday</div>
        <div>10AM-6PM</div>
        <div>Sunday</div>
        <div>11AM-2PM</div>

    </div>
    <div>
        <Icon name="location-dot" class="w8 inline mr-3"></Icon>
        20C Miller Rd, Bedford MK42 9NZ
    </div>
    <Icon name="phone" class="w8 inline mr-2"></Icon>
    07429153339
</div>