---
import { urlForImage } from "@/sanity/lib/url-for-image";
import Stars from "./Stars.astro";

const { section } = Astro.props;
---

<div class="swiper my-10"  data-animate="[&_.swiper-slide]:to:x-0|scrollTrigger.trigger-[&]|opacity-1|ease-back|stagger-0.25">
     <div class="swiper-wrapper my-20">
{
    section.reviewItems.map((review:any, i:Number) => 
    <div class="swiper-slide text-center text-white opacity-0 duration-500 ">
        
        <img src={section.mainImage?.asset ? urlForImage(section.mainImage?.asset)?.url(): ""} class="absolute object-cover flex right-0 w-7 ">
        <Stars stars="3"></Stars>
        <span class="mt-5 flex">{review.title}</span>
        
        <div class="text-2xl text-white/50">{review.name} <small>{review.reviewDate}</small></div>
    </div>)
}
    </div>
    <div class="swiper-button-next relative"></div>
    <div class="swiper-button-prev relative"></div>
    <div class="swiper-pagination"></div>
</div>
<script>
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

var swiper = new Swiper(".swiper", {
  
  modules: [Navigation, Pagination],
      slidesPerView: 2,
      spaceBetween: 20,loop: true,
  autoplay: {
    delay: 2500,
    disableOnInteraction: false,
  },
      pagination: {
        el: ".swiper-pagination",
      },navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        // when window width is >= 640px
        640: {
          slidesPerView: 2,
          spaceBetween: 40
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 60
        }
      }
    });
</script>


<style>
.swiper-wrapper {
}
.swiper-button-next,.swiper-button-prev {
  color: #fff;
  font-weight:bold;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  height: fit-content;
}
</style>