---

import { Icon } from "astro-icon/components";

const { stars } = Astro.props;
---
<div class="flex text-amber-400  w-fit mx-auto">
    <Icon name="star" class="h-5"></Icon>
    <Icon name="star" class="h-5"></Icon>
    <Icon name="star" class="h-5"></Icon>
    <Icon name="star" class="h-5"></Icon>
    <Icon name="star" class="h-5"></Icon>
</div>