---
const phoneNumber = '+447932422141'
const defaultMessage = encodeURIComponent("Hello I would like to book an appointment")
const chatUrl = `https://wa.me/${phoneNumber}?text=${defaultMessage}`
---
<!-- WhatsApp button -->
<a href="javascript:void(0)" onclick="openChat()" class="fixed bottom-5 right-5 bg-green-500 text-white py-2 px-6 rounded-full shadow-lg flex items-center space-x-3 z-50 hover:bg-green-600 transition font-sans">
  <img src="/whatsapp1.svg" alt="WhatsApp" class="w-10 h-10">
  <span class="text-lg">WhatsApp</span>
</a>
<!-- Popup box -->
<div id="chat-popup" class="fixed bottom-25 right-5 hidden shadow-lg rounded-lg w-80 max-w-full bg-emerald-800 z-40 font-sans pt-4">
  <div class="px-4">
    <div class="flex justify-between items-center">
    <span class="font-semibold">Bedford Barber Co</span>
    <button onclick="closeChat()" class="text-gray-300 text-sm">X</button>
  </div>
  <div class="mt-2 mb-4 text-sm text-white">
    <p>Typically replies within a day</p>
  </div>
  </div>
  
  <div class="bg-gray-200 py-6 px-3 text-sm grid grid-cols-2">
    <div class="py-2 bg-white pl-2 rounded text-black"> <p class="text-gray-500"><strong>Bedford Barber Co</strong></p> <p class="mb-4"> Hey 👋 </p>
      <p>How can I help?</p>
      <p></p>
    </div>
  
  </div>
  <div class="bg-white p-4 flex ">
    <a href={chatUrl} target="_blank" class="bg-green-500 text-white text-sm rounded-full text-center flex-1 mx-2 py-2">Start Chat</a>
  </div>
  
</div>

<script>
  (window as any).openChat = function openChat() {
    console.log('Widget clicked');
    const chatPopup = document.getElementById('chat-popup');
    if (chatPopup) {
      chatPopup.classList.remove('hidden');
    }
  };

  (window as any).closeChat = function closeChat() {
    const chatPopup = document.getElementById('chat-popup');
    if (chatPopup) {
      chatPopup.classList.add('hidden');
    }
  };
</script>