---
interface Props {
	title: string;
}
// ./src/layouts/Layout.astro
import { VisualEditing } from "@sanity/astro/visual-editing";
import MenuBar from '../components/menubar';
import FooterMenu from "../components/footer"
import "../styles/global.css";
const visualEditingEnabled = import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <link rel="stylesheet" href="https://use.typekit.net/chf2fke.css">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Organization",
			  "url": "https://www.dev-operations.info",
			  "logo": "https://www.dev-operations.info/devops-logo.png",
			  "name": "Bedford Barber Co",
			  "description": "Dev Operations is well-known for producing high-quality websites",
			  "email": "contact@dev-operations.info",
			  "telephone": "+44 07771 924040",
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "9 Darwin Rd",
				"addressLocality": "Bedford",
				"addressCountry": "UK",
				"addressRegion": "Bedfordshire",
				"postalCode": "mk42 9lu"
			  }
			}
			</script>
	</head>
    <body class="bg-black px-20 py-10 text-3xl overflow-x-hidden text-gray-200">
<MenuBar  client:load></MenuBar>
        <slot />
        <VisualEditing enabled={visualEditingEnabled} />
        <script>
            import { SetupAnimations } from "@/js/animation";

            SetupAnimations();
        </script>
				<!-- Elfsight WhatsApp Chat | Untitled WhatsApp Chat -->
<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-7f484d22-00b5-4db1-8198-118638a81aa2" data-elfsight-app-lazy></div>
<FooterMenu/>
    </body>
</html>