---
interface Props {
	title: string;
}
// ./src/layouts/Layout.astro
import { Icon } from "astro-icon/components";
import { VisualEditing } from "@sanity/astro/visual-editing";
import MenuBar from '../components/menubar';
import FooterMenu from "../components/footer"
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
const visualEditingEnabled = import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="m-0 w-full p-0 ">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
 <link rel="preload" href="/src/styles/Squada_One/SquadaOne-Regular.ttf" as="font" type="font/woff" crossorigin>
 <link rel="preload" href="/src/styles/Carnivalee-Freakshow.ttf.woff" as="font" type="font/ttf" crossorigin>
        <!-- <link rel="stylesheet" href="https://use.typekit.net/chf2fke.css"> -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "LocalBusiness",
			  
			  "image": [
					"https://cdn.sanity.io/images/hmnd7ebx/production/f3ab29158b15d23086617d43422d62a0836f4869-1440x1439.jpg",
					"https://cdn.sanity.io/images/hmnd7ebx/production/7f863c569ffa595ccb630455fd6f743cc1016bf7-1440x1440.webp"
				],
			  "url": "https://bedfordbarber.co.uk",
			  "logo": "https://bedfordbarber.co.uk/logo.png",
			  "name": "BEDFORD BARBER co",
			  "geo": {
					"@type": "GeoCoordinates",
					"latitude": -0.465,
					"longitude": 52.129
				},
			  "description": "Bedford Barber Co",
			  "email": "contact@bedfordbarber.co.uk",
			  "telephone": "+44 07429 153339",
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "20C Miller Rd",
				"addressLocality": "Bedford",
				"addressCountry": "UK",
				"addressRegion": "Bedfordshire",
				"postalCode": "MK42 9NZ"
			  },
			  "priceRange": "$$",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "10:00",
          "closes": "20:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "09:00",
          "closes": "18:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "10:00",
          "closes": "16:00"
        }
      ]
			}
			</script>
	</head>
    <body class="bg-black px-5 lg:px-20 pb-10 text-2xl lg:text-3xl overflow-x-hidden overflow-y-auto  text-gray-200 w-full">
<MenuBar client:visible></MenuBar>
        <slot />
		<Analytics />
		<SpeedInsights />
        <VisualEditing enabled={visualEditingEnabled} />
        <script>
            import { SetupAnimations } from "@/js/animation";
            SetupAnimations();
        </script>
<FooterMenu/>
<a href="https://www.dev-operations.info" class="mx-auto flex text-sm justify-center leading-3.5">
	DevOps 
	<Icon name="devops" class="ml-3"></Icon>
</a>
    </body>
</html>